@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 10px; }

a {
  text-decoration: none; }

.font__base {
  font-size: 1.6rem; }

.font__14 {
  font-size: 1.4rem; }

.font__16 {
  font-size: 1.6rem; }

.font__22 {
  font-size: 2.2rem; }

.font__40 {
  font-size: 4rem; }

.font__lg {
  font-size: 5.5rem; }

.soft__black_bg {
  background: #404040; }

.light__bg {
  background: #f4f4f4; }

.soft__black {
  color: #404040; }

.soft__red {
  color: #f9595f; }

.soft__green {
  color: #4ad395 !important; }

.purple__text {
  color: #7245e5 !important; }

.gray__text {
  color: #3f3f3f; }

.light__gray {
  color: #6f737c !important; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.weight__100 {
  font-weight: 100; }

.weight__200 {
  font-weight: 200; }

.weight__300 {
  font-weight: 300; }

.weight__400 {
  font-weight: 400; }

.weight__500 {
  font-weight: 500; }

.weight__600 {
  font-weight: 600; }

.weight__700 {
  font-weight: 700; }

.weight__800 {
  font-weight: 800; }

.weight__900 {
  font-weight: 900; }

@font-face {
  font-family: Inter_Medium;
  src: url(../font/Inter-Medium.ttf); }

@font-face {
  font-family: Inter_Bold;
  src: url(../font/Inter-Bold.ttf); }

@font-face {
  font-family: Cairo_Regular;
  src: url(../font/Cairo-Regular.ttf); }

@font-face {
  font-family: Cairo_SemiBold;
  src: url(../font/Cairo-SemiBold.ttf); }

@font-face {
  font-family: Cairo_Bold;
  src: url(../font/Cairo-Bold.ttf); }

.Cairo_Regular {
  font-family: Cairo_Regular; }

.Cairo_Bold {
  font-family: Cairo_Bold; }

.Cairo_SemiBold {
  font-family: Cairo_SemiBold; }

.Inter_Medium {
  font-family: Inter_Medium; }

.Inter_Bold {
  font-family: Inter_Bold; }

.montserrat {
  font-family: "Montserrat", sans-serif !important; }

body {
  font-size: 1.6rem; }

.btn__outline {
  border-radius: 0.7rem;
  border: 2px solid #7245e5;
  padding: 0.2rem 1.5rem !important;
  line-height: 1.5; }

.wrapper {
  width: 94%;
  margin: auto; }

.wrapper_sm {
  width: 85%;
  margin: auto; }

header {
  position: relative;
  z-index: 99;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  header .navbar-brand {
    width: 14rem;
    margin: 0; }
  header .navbar-nav, header .dropdown-menu {
    border: none;
    min-width: 12rem; }
    header .navbar-nav li, header .dropdown-menu li {
      margin: 0rem 0.5rem; }
      header .navbar-nav li a, header .dropdown-menu li a {
        font-family: Cairo_Bold; }
  header .dropdown-menu[data-bs-popper] {
    left: -65px; }
  header .navbar-light .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    width: 2em;
    height: 2em; }
  header .navbar-light .navbar-toggler {
    border: none; }
  header .offcanvas-start {
    width: 24rem; }
  header .user__pro .dropdown-toggle::after {
    background-image: url(../images/down-arrow.png); }
  header .user__pro .dropdown-toggle {
    background-color: transparent !important;
    border: none; }
  header .user__pro .dropdown-menu[data-bs-popper] {
    left: -70%;
    width: 30rem;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem 1.5rem; }
  header .user__pro .head__user {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%; }
  header .user__pro .stripe {
    background: #ecfdf5;
    padding: 0.8rem 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #10b99f;
    border-radius: 0.4rem; }
  header .user__pro .dropdown-item {
    background-color: white; }
  header .user__pro .dropdown-menu li {
    margin-bottom: 0.5rem; }
  header .profile__band {
    position: relative !important; }
    header .profile__band::before {
      position: absolute !important;
      top: 0;
      right: 0;
      content: "";
      width: 2rem;
      height: 2rem;
      background-image: url(../images/pro_icone_gold.png);
      background-size: contain;
      background-repeat: no-repeat; }
  header .mail__user {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem;
    -o-object-fit: cover;
       object-fit: cover; }
  header .mail__info h6 {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%; }
  header .mail__info p {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 85%;
    font-weight: 400; }
  header .profile__mobo_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto; }
  header .profile__mobo_username {
    font-size: 100%; }

.profie__switch .form-check-input {
  width: 2.5rem;
  padding: 8px 18px;
  border: none;
  background-color: #f4f4f4; }

.dropdown__count {
  background-color: #FEF3C7;
  padding: 4px 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.4rem;
  font-size: 12px;
  color: #e1bf36;
  font-family: Cairo_Bold; }

.search__header .form-control {
  width: 18vw !important;
  font-size: 1.4rem; }

.search__header .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #404040; }

.search__header .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #404040;
  border-width: 0.25px;
  outline: 0; }

.search__header .dropdown-toggle {
  padding-right: 2.8rem;
  padding-left: 1rem;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e0e0e1;
  background-color: #f9f9fb !important;
  color: #404040 !important; }
  .search__header .dropdown-toggle::after {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border: 0 !important;
    position: absolute;
    top: 30%;
    background-image: url(../images/down-arrow.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-left: 0.4rem; }

.hero {
  height: 70vh; }
  .hero__tittle {
    font-family: Inter_Bold;
    line-height: 1.1; }
  .hero__video {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: #7245e5;
    background-image: url(../images/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden; }
  .hero__player {
    width: 100%;
    height: 100%;
    background: #3f3f3f89; }
  .hero__btn {
    padding: 0.5rem 5rem !important;
    font-size: 2rem;
    border-width: 1.25px; }

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px; }
  .video-play-button span {
    position: relative; }
    .video-play-button span::after {
      position: absolute;
      width: 400% !important;
      height: 300% !important;
      border: 0.25px solid rgba(209, 209, 209, 0.514);
      content: "";
      left: -160%;
      top: -100%;
      border-radius: 50%; }
    .video-play-button span::before {
      position: absolute;
      width: 550% !important;
      height: 400% !important;
      border: 0.25px solid rgba(209, 209, 209, 0.514);
      content: "";
      left: -230%;
      top: -150%;
      border-radius: 50%; }

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: transparent;
  -webkit-box-shadow: rgba(255, 255, 255, 0.217) 0px 10px 20px 0px, rgba(255, 255, 255, 0) 0px 0px 0px 1px;
          box-shadow: rgba(255, 255, 255, 0.217) 0px 10px 20px 0px, rgba(255, 255, 255, 0) 0px 0px 0px 1px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.259);
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite; }

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all 200ms;
  transition: all 200ms; }

.video-play-button:hover:after {
  background-color: white; }

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto; }

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 30% 52%; }

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms; }

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1; }

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms; }

.video-overlay-close:hover {
  color: #fa183d; }

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.75); }

.menu__drop {
  margin-top: -2rem;
  height: 4rem; }
  .menu__drop .dropdown-toggle {
    padding-right: 3rem;
    padding-left: 1rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e0e0e1;
    background-color: #7245e5 !important;
    position: relative;
    font-family: Cairo_SemiBold; }
    .menu__drop .dropdown-toggle::after {
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      border: 0 !important;
      position: absolute;
      top: 0.9rem !important;
      background-image: url(../images/down-arrow__white.png);
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      margin-left: 0.5rem; }

.down-chevron::after {
  display: none; }

.side__line {
  width: 3rem; }

.template__layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (13.75%)[7];
      grid-template-columns: repeat(7, 13.75%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 8px; }

.template__card {
  background-color: transparent;
  border-radius: 0.6rem;
  overflow: hidden;
  position: relative; }
  .template__card .template__add {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #0000004b;
    padding: 40% 1rem 1rem 1rem;
    z-index: 1;
    display: none !important;
    -webkit-transition: 0.6s all !important;
    transition: 0.6s all !important; }
    .template__card .template__add_zoom {
      width: 2.5rem; }
    .template__card .template__add_more {
      text-decoration: none;
      background-color: white;
      padding: 0.4rem 2.5rem;
      border-radius: 0.4rem;
      font-family: Inter_Medium;
      color: #7245e5;
      font-size: 0.8vw; }
    .template__card .template__add_info {
      color: white;
      font-size: 1.4rem;
      font-family: Inter_Medium;
      text-decoration: none;
      text-align: center; }
  .template__card:hover .template__add {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-transition: 0.6s all !important;
    transition: 0.6s all !important; }

.template .big_03 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  -ms-grid-row: 3;
  grid-row: 3; }
  .template .big_03 .template__add {
    padding-top: 10%; }

.template .big_02 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/ span 2;
  height: 100%; }
  .template .big_02 > img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .template .big_02 .template__add {
    padding-top: 70%; }

.template__pro {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 2; }

.carousel-inner .ratio {
  background: #00000054 !important;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.7px);
          backdrop-filter: blur(7.7px);
  border: 2px solid rgba(17, 22, 24, 0.731); }

.lasty .see__more a {
  background-color: #7245e5;
  padding: 0.8rem 4.5rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-family: Inter_Medium; }

.layout__ .nav-pills, header .nav-pills {
  width: 22rem;
  background: white;
  padding: 0rem 1rem;
  border-radius: 0.5rem; }
  .layout__ .nav-pills .nav-link, header .nav-pills .nav-link {
    color: #404040;
    font-family: Inter_Medium;
    text-align: start;
    background: transparent !important;
    font-size: 1.4rem;
    margin-bottom: 10px; }
    .layout__ .nav-pills .nav-link > img, header .nav-pills .nav-link > img {
      width: 3.7rem;
      margin-right: 4px; }
    .layout__ .nav-pills .nav-link .drop, header .nav-pills .nav-link .drop {
      background-color: transparent; }
      .layout__ .nav-pills .nav-link .drop a, header .nav-pills .nav-link .drop a {
        font-size: 1.4rem;
        position: relative;
        padding-left: 4rem;
        color: #7245e5; }
        .layout__ .nav-pills .nav-link .drop a::after, header .nav-pills .nav-link .drop a::after {
          display: inline-block;
          margin-left: .255em;
          vertical-align: .255em;
          content: "";
          border: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 2.8rem;
          height: 2.8rem;
          background-color: #7245e5;
          border-radius: 50%;
          background-image: url(../images/dropdown_white.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: center; }

.layout__ .likes img, header .likes img {
  width: 2.5rem; }

.frame__page {
  padding: 2rem 4rem; }

.frame__video {
  width: 80rem;
  height: 40rem;
  background-color: #3c80db;
  background-image: linear-gradient(160deg, #3c80db 50%, #6751e4 88%);
  border-radius: 1.2rem !important; }
  .frame__video .frames {
    height: 100%; }
    .frame__video .frames .item {
      background: transparent; }
      .frame__video .frames .item iframe {
        width: 80rem;
        height: 40rem;
        border-radius: 1.2rem !important; }
  .frame__video .slick-next, .frame__video .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 120%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0; }
  .frame__video .slide-arrow {
    top: 110%;
    position: absolute;
    border: none;
    padding: 0.6rem 3rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: Cairo_SemiBold;
    background-color: #989898;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, #989898), color-stop(54%, #757575));
    background-image: linear-gradient(180deg, #989898 9%, #757575 54%);
    color: white; }
  .frame__video .next-arrow {
    right: 0;
    background-color: #3c80db;
    background-image: linear-gradient(160deg, #3c80db 41%, #6751e4 88%); }

.frame__info {
  margin-top: 12rem; }

.account__user_img {
  width: 8rem;
  height: 8rem; }

.account__user_content p {
  font-size: 25px;
  color: #6f737c;
  line-height: 1; }

.account__user_content a {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

.frame__tag span {
  color: #7245e5; }

.dropdown-menu {
  padding-bottom: 2rem;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .dropdown-menu .dropdown-item {
    font-size: 1.6rem;
    font-family: Cairo_SemiBold;
    padding: 0.3rem 1rem;
    background-color: white;
    border-radius: 3px;
    color: #6f737c;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    width: 100%;
    margin-bottom: 1rem; }
    .dropdown-menu .dropdown-item:hover {
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }

.dropdown__btn__soft {
  border-radius: 5px !important;
  border: none !important; }

.dropdown__arrows {
  width: 100%; }
  .dropdown__arrows .dropdown-divider {
    height: 0.5px;
    background-color: #6f737c;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0% 45%; }
  .dropdown__arrows .dropdown-item {
    position: relative;
    width: 100%; }
    .dropdown__arrows .dropdown-item::before {
      position: absolute;
      top: 0;
      left: 6px;
      content: "»"; }
  .dropdown__arrows .dropdown-item {
    font-size: 1.6rem;
    font-family: Cairo_SemiBold;
    padding: 0.3rem 2rem;
    background-color: white;
    border-radius: 3px;
    color: #6f737c;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }
    .dropdown__arrows .dropdown-item:hover {
      background-color: #a07cfb;
      color: white;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }

.profile__mobo .dropdown-toggle::after {
  display: none; }

.blog__layout {
  padding: 1rem 5rem; }

.blog__images img {
  border-radius: 1rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.blog__images__btns a {
  font-size: 1.6rem;
  color: #6f737c;
  margin: 2rem 3rem;
  text-decoration: none; }
  .blog__images__btns a img {
    width: 3rem; }

.blog__images__btns div {
  height: 3rem;
  width: 1px;
  background-color: #6f737c9b; }

.blog__content h1 {
  font-size: 3.8rem; }

.blog__message {
  background: #fecaca;
  padding: 2.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem; }

.edit__canva {
  background-color: #3c80db;
  background-image: linear-gradient(160deg, #3c80db 41%, #6751e4 88%);
  padding: 1rem 3rem;
  color: white !important;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  font-family: Cairo_SemiBold; }

.premium__bg {
  background: black !important; }

.legenda {
  padding: 6rem 0rem; }
  .legenda .accordion-item {
    border: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 3rem; }
  .legenda .accordion-header {
    border: none !important;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .legenda .accordion-button {
    font-size: 2.2rem;
    background-color: white;
    color: #7b2feb; }
    .legenda .accordion-button::after {
      margin-left: 2rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      background-color: #7245e5;
      padding: 1.3rem;
      background-position: center;
      border-radius: 50%; }
    .legenda .accordion-button svg {
      width: 20px; }
  .legenda .accordion-body {
    border: 0.3mm solid #7245e5;
    border-radius: 1rem;
    padding: 5rem;
    -webkit-box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 15px 0px;
            box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 15px 0px;
    font-size: 1.8rem;
    font-family: Cairo_SemiBold; }
  .legenda .accordion-tags {
    font-size: 1.8rem;
    color: #7b2feb; }
  .legenda .accordion-copy a {
    background: #4ad395;
    padding: 1rem 4.5rem;
    border-radius: 0.6rem;
    font-size: 1.8rem;
    color: #404040;
    font-family: Cairo_SemiBold; }
  .legenda .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.blog__page .template__card .template__add {
  padding: 35% 1em 1rem 1rem; }

.blog__page .template__layout {
  -ms-grid-columns: (19.4%)[5];
      grid-template-columns: repeat(5, 19.4%); }

.feed__layout {
  padding: 3rem 0rem; }

.feed__card {
  width: 14.5vw;
  min-width: 26rem;
  height: auto;
  margin-right: 2rem;
  border-radius: 0.3rem;
  margin-bottom: 4rem; }

.feed__banner {
  height: 12rem;
  overflow: hidden; }

.feed__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-top: -3.5rem; }
  .feed__img img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.feed__icons li {
  width: 3.4rem;
  margin: 0; }

@media (max-width: 1775px) {
  .feed__card {
    min-width: 23rem !important;
    width: 23rem !important; }
  .feed__banner {
    height: 10rem; }
  .feed__img {
    width: 6rem;
    height: 6rem;
    margin-top: -3rem; } }

.post__short {
  border-bottom: 1px solid #6f737c2e;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }
  .post__short_img {
    width: 8rem;
    height: 8rem; }
    .post__short_img img {
      border-radius: 0.8rem; }
  .post__short_content .link_icon {
    width: 1.3rem; }

.blog__content_fix {
  width: 30vw; }

.blog__images_fix {
  width: 30vw; }

.profile__list .dropdown-item {
  background: white !important;
  font-family: Inter_Medium !important;
  text-align: start;
  font-size: 1.4rem;
  margin-bottom: 2px; }

.profile__list .dropdown-divider {
  background-color: rgba(196, 196, 196, 0.78); }

.profile__mobo_username {
  padding-left: 1rem !important; }
  .profile__mobo_username::after {
    left: 95% !important;
    background: transparent !important;
    background-image: url(../images/down-arrow-purple.png) !important;
    background-size: 60% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-left: 0 !important; }

.menu__drop .dropdown__gray {
  background-color: #6f737c !important;
  width: 10rem !important; }
  .menu__drop .dropdown__gray::after {
    right: 12px !important; }

.menu__drop .dropdown__w {
  width: 10rem !important; }
  .menu__drop .dropdown__w::after {
    right: 12px !important; }

header .user__pro .dropdown-menu li hr {
  background-color: #b0b0b0 !important; }

@media (max-width: 1600px) {
  .template__card .template__add {
    padding: 35% 1rem 1rem 1rem; }
  .font__lg {
    font-size: 5rem; } }

@media (max-width: 1500px) {
  .template__card .template__add_zoom {
    width: 2rem; }
  .template__card .template__add_more {
    padding: 0.4rem 1.1rem;
    font-size: 0.8vw; }
  .template__card .template__add_info {
    font-size: 0.8vw;
    margin-top: 4px; } }

@media (max-width: 1450px) {
  .template__card .template__add_more {
    font-size: 12px; }
  .template__card .template__add_info {
    font-size: 12px; }
  .template__pro {
    width: 2.5rem; } }

@media (max-width: 1400px) {
  .font__lg {
    font-size: 3.6vw; }
  .blog__images__btns a {
    margin: 2rem 2rem;
    font-size: 1.5rem; }
  .template__layout {
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto); } }

@media (max-width: 1200px) {
  header .search__header .form-control {
    width: 30vw !important; }
  .template__layout {
    -ms-grid-columns: (19.38%)[5];
        grid-template-columns: repeat(5, 19.38%); }
  .layout__ .font__40 {
    font-size: 3.2rem; }
  .layout__ .likes a {
    font-size: 1.5rem; }
  .frame__video,
  .frame__video .frames .item iframe {
    width: 60rem;
    height: 30rem; }
  .blog__content h1 {
    font-size: 3.2rem; }
  .blog__page .template__layout {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto); } }

@media (max-width: 1080px) {
  .blog__content_fix {
    width: auto; }
  .blog__layout {
    padding: 1rem 2rem; }
  .blog__images__btns a {
    margin: 2rem 1.2rem;
    font-size: 1.5rem; }
  .template__layout {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto); }
  .hero__btn {
    padding: 0.3rem 2.5rem !important;
    font-size: 1.6rem;
    border-width: 1.25px; } }

@media (max-width: 991px) {
  .video-play-button::after {
    width: 50px;
    height: 50px; }
  .video-play-button span {
    background-size: 50%; }
  .video-play-button::before {
    width: 60px;
    height: 60px; }
  .video-play-button span::after {
    left: -110%;
    top: -60%;
    width: 300% !important;
    height: 215% !important; }
  .video-play-button span::before {
    left: -170%;
    top: -100%;
    width: 415% !important;
    height: 300% !important; }
  .big_03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto !important; }
  .big_02 {
    height: auto !important;
    display: none; }
  .wrp_drop {
    background-color: transparent; }
  .layout__ .feed_info {
    font-size: 14px; }
    .layout__ .feed_info span {
      margin-right: 2px; }
  .blog__images_fix {
    width: 100%; }
  .template__layout {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto); } }

@media (max-width: 767px) {
  .hero {
    height: auto; }
    .hero br {
      display: none; }
  .hero__video {
    width: 40rem;
    height: 24rem;
    margin: auto;
    margin-bottom: 10vw;
    margin-top: 5vw; }
  .hero__tittle {
    text-align: center; }
  .layout__ .font__40 {
    font-size: 2.8rem; }
  .layout__ .menu__drop {
    margin: 1rem auto;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .frame__video, .frame__video .frames .item iframe {
    width: 85vw;
    height: 42vw; }
  .blog__page {
    padding-left: 20px;
    padding-right: 20px; }
    .blog__page .blog__layout {
      padding: 0; }
    .blog__page .feed__layout {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .post__short_img {
    margin-bottom: 1.5rem; }
  .legenda .accordion-body {
    padding: 2.5rem;
    font-size: 1.6rem; }
  .template__layout {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto); }
  .blog__page .template__layout {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto); }
  .carousel-inner .ratio {
    border-radius: 6px; } }

@media (max-width: 540px) {
  header .navbar-brand {
    width: 10rem; }
  header .navbar {
    padding: 1.5rem 0rem !important; }
  .big_03 {
    display: none; }
  .template__card {
    margin-bottom: 10px;
    width: 90%; }
  .layout__ .font__40 {
    font-size: 2.2rem; }
  .layout__ .feed_info {
    font-size: 3vw; }
    .layout__ .feed_info span {
      margin-right: 0px; }
  .layout__ .likes img {
    width: 2rem; }
  .frame__info {
    margin-top: 7rem; }
  .post__short_content h6 {
    font-size: 1.8rem; }
  .template__layout {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto); }
  .blog__page .template__layout {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto); }
  .menu__drop .dropdown__gray {
    width: 8.9rem !important; }
  .menu__drop .dropdown__w {
    width: 8.9rem !important; } }

@media (max-width: 500px) {
  .hero__video {
    width: 75vw;
    height: 45vw; }
  .menu__drop .col-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .hero__tittle {
    font-size: 5.3vw; }
  .slide-arrow {
    background: transparent !important; }
    .slide-arrow img {
      width: 3rem; }
  .account__user_content p {
    font-size: 20px; }
    .account__user_content p a {
      font-size: 11px; }
  .account__user_img {
    width: 6rem;
    height: 6rem; }
  .legenda .accordion-body {
    padding: 1.8rem;
    font-size: 1.5rem; }
  .legenda .accordion-tags {
    font-size: 1.6rem; }
  .legenda .accordion-copy {
    margin: 1.5rem 0rem !important; }
  .legenda .accordion-item {
    margin-bottom: 2rem; }
  .blog__images__btns a {
    margin: 2rem 0.8rem; }
  .frame__video, .frame__video .frames .item iframe {
    width: 100%;
    height: 42vw; }
  .blog__page .template__layout {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto); }
  .feed__card {
    width: 100% !important;
    margin-right: 0; }
  .feed__banner {
    height: 12.5rem; }
  .feed__img {
    width: 8rem;
    height: 8rem;
    margin-top: -4rem; } }

@media (max-width: 450px) {
  .template__layout {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto); }
  .template__card {
    margin-bottom: 10px;
    width: 100%; }
  .legenda .accordion-item {
    margin-bottom: 1rem; } }
/*# sourceMappingURL=main.css.map */