html {
  font-size: 10px;
}
// * {
//   transition: 0.1s all;
// }
a {
  text-decoration: none;
}


$font__base : 1.6rem;
$font__14 : 1.4rem;
$font__16 : 1.6rem;
$font__22 : 2.2rem;
$font__40 : 4rem;
$font__lg : 5.5rem;



.font__base { font-size: $font__base;}
.font__14 { font-size: $font__14;}
.font__16 { font-size: $font__16;}
.font__22 { font-size: $font__22;}
.font__40 { font-size: $font__40;}
.font__lg { font-size: $font__lg;}


$soft__black : #404040;
$purple : #7245e5;
$light : #f4f4f4;
$soft__red : #f9595f;
$soft__pink : #fecaca;
$soft__green : #4ad395;
$dark__gray : #3f3f3f;
$light__gray : #6f737c;

.soft__black_bg { background: $soft__black;}
.light__bg { background: $light;}
.soft__black { color: $soft__black;}
.soft__red { color: $soft__red;}
.soft__green { color: $soft__green !important;}
.purple__text { color: $purple !important;}
.gray__text { color: $dark__gray;}
.light__gray { color: $light__gray !important;}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
.weight__100 { font-weight:100;}
.weight__200 { font-weight:200;}
.weight__300 { font-weight:300;}
.weight__400 { font-weight:400;}
.weight__500 { font-weight:500;}
.weight__600 { font-weight:600;}
.weight__700 { font-weight:700;}
.weight__800 { font-weight:800;}
.weight__900 { font-weight:900;}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$montserrat :'Montserrat', sans-serif;
@font-face {
  font-family: Inter_Medium;
  src: url(../font/Inter-Medium.ttf);
} 
@font-face {
  font-family: Inter_Bold;
  src: url(../font/Inter-Bold.ttf);
} 
@font-face {
  font-family: Cairo_Regular;
  src: url(../font/Cairo-Regular.ttf);
}
@font-face {
  font-family: Cairo_SemiBold;
  src: url(../font/Cairo-SemiBold.ttf);
}
@font-face {
  font-family: Cairo_Bold;
  src: url(../font/Cairo-Bold.ttf);
}
.Cairo_Regular { font-family: Cairo_Regular;}
.Cairo_Bold { font-family: Cairo_Bold;}
.Cairo_SemiBold { font-family: Cairo_SemiBold;}
.Inter_Medium { font-family: Inter_Medium;}
.Inter_Bold { font-family: Inter_Bold;}
.montserrat { font-family: $montserrat !important;}
body {
  font-size: 1.6rem;
}

.btn__outline {
  border-radius: 0.7rem;
  border: 2px solid #7245e5;
  padding: 0.2rem 1.5rem !important;
  line-height: 1.5;
}

@mixin media__max($value:0,$unit:px) {
  @media (max-width: $value+$unit) {
    @content;
  }
}

// WEB LAYOUT 
.wrapper {
  width: 94%;
  margin: auto;
}
.wrapper_sm {
  width: 85%;
  margin: auto;
}


// HEADER 
header {
  position: relative;
  z-index: 99;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .navbar-brand {
    width: 14rem;
    margin: 0;
  }
  .navbar-nav,.dropdown-menu {
    border: none;
    min-width: 12rem;
    li {
      margin: 0rem 0.5rem;
      a {
        font-family: Cairo_Bold;
      }
    }
  }
  .dropdown-menu[data-bs-popper] {
    left: -65px;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    width: 2em;
    height: 2em;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  .offcanvas-start {
    width: 24rem;
  }
  .user__pro {
    .dropdown-toggle::after {
      background-image: url(../images/down-arrow.png);
    }
    .dropdown-toggle {
      background-color: transparent !important;
      border: none;
    }
    .dropdown-menu[data-bs-popper] {
      left: -70%;
      width: 30rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 3rem 1.5rem;
    }
    .head__user {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
    .stripe {
      background: #ecfdf5;
      padding: 0.8rem 1rem;
      text-align: center;
      font-size: 1.1rem;
      color: #10b99f;
      border-radius: 0.4rem;
    }
    .dropdown-item {
      background-color: white;
    }
    .dropdown-menu {
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
  .profile__band {
    position: relative !important;
    &::before {
      position: absolute !important;
      top: 0;
      right: 0;
      content: "";
      width: 2rem;
      height: 2rem;
      background-image: url(../images/pro_icone_gold.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .mail__user {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem;
    object-fit: cover;
  }
  .mail__info {
    h6 {
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 70%;
    }
    p {
      font-size: 13px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 85%;
      font-weight: 400;
    }
  }
  // .profile__mobo 
  .profile__mobo_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
  }
  .profile__mobo_username {
    font-size: 100%;

  }
}

.search__header {
  .form-control {
    width: 18vw !important;
    font-size: $font__14;
  }
  .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $soft__black;
  }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: $soft__black;
    border-width: 0.25px;
    outline: 0;
  }
  .dropdown-toggle {
    padding-right: 2.8rem;
    padding-left: 1rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e0e0e1;
    background-color: #f9f9fb !important;
    color: $soft__black !important;
    &::after {
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      // background-color: #f9f9fb;
      border: 0 !important;
      position: absolute;
      top: 30%;
      background-image: url(../images/down-arrow.png);
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      margin-left: 0.4rem;
      
    }
  }
}
// HERO 
.hero {
  height: 70vh;
  &__tittle {
    font-family: Inter_Bold;
  }
  &__video {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: $purple;
    background-image: url(../images/video.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    overflow: hidden;
  }
  &__player {
    width: 100%;
    height: 100%;
    background: #3f3f3f89;
  }
  
}
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  span {
    position: relative;
    &::after {
      position: absolute;
      width: 400% !important;
      height: 300% !important;
      border: 0.25px solid rgba(209, 209, 209, 0.514);
      content: "";
      left: -160%;
      top: -100%;
      border-radius: 50%;
    }
    &::before {
      position: absolute;
      width: 550% !important;
      height: 400% !important;
      border: 0.25px solid rgba(209, 209, 209, 0.514);
      content: "";
      left: -230%;
      top: -150%;
      border-radius: 50%;
    }
  }
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: transparent;
  box-shadow: rgba(255, 255, 255, 0.217) 0px 10px 20px 0px, rgba(255, 255, 255, 0) 0px 0px 0px 1px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.259);
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: white;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  // border-left: 32px solid #fff;
  // border-top: 22px solid transparent;
  // border-bottom: 22px solid transparent;
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 30% 52%;
}

@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

// TEM MENU THREE 

.menu__drop {
  margin-top: -2rem;
  height: 4rem;
  // background-color: #404040;
  .dropdown-toggle {
    padding-right: 3rem;
    padding-left: 1rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #e0e0e1;
    background-color: $purple !important;
    position: relative;
    font-family: Cairo_SemiBold;
    &::after {
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      // background-color: #f9f9fb;
      border: 0 !important;
      position: absolute;
      top: 0.9rem !important;
      // left: 0;
      background-image: url(../images/down-arrow__white.png);
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      margin-left: 0.5rem;
      
    }
  }
}
.down-chevron {
  &::after {
    display: none;
  }
}
.side__line {
  width: 3rem;
}

// ALL CARDS 

.template {

  // grid-template: 20rem , 20rem;
  &__layout {
    display: grid;
    grid-template-columns: repeat(7, 13.75%);
    grid-template-rows: auto;
    grid-gap: 8px;
  }
  &__card {
    background-color: transparent;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    // &::before {
    //   position: absolute;
    //   top: 10px;
    //   left: 10px;
    //   content: "";
    //   width: 3.5rem;
    //   height: 3.5rem;
    //   background-color: transparent;
    //   background-image: url(../images/pro.png);
    //   background-size: contain;
    //   background-repeat: no-repeat;
    // }
    .template__add {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      background-color: #0000004b;
      padding: 40% 1rem 1rem 1rem;
      z-index: 1;
      &_zoom {
        width: 2.5rem;
      }
      &_more {
        text-decoration: none;
        background-color: white;
        padding: 0.4rem 2.5rem;
        border-radius: 0.4rem;
        font-family: Inter_Medium;
        color: $purple;
        font-size: 0.8vw;
      }
      &_info {
        color: white;
        font-size: $font__14;
        font-family: Inter_Medium;
        text-decoration: none;
        text-align: center;
      }
      display: none !important;
      transition: 0.6s all !important;
    }
    &:hover {
      .template__add {
        display: flex !important;
        transition: 0.6s all !important;
      }
    }
  }
  .big_03 {
    grid-column: 1/ span 3;
    grid-row: 3;
    .template__add {
      padding-top: 10%;
    }
  }
  .big_02 {
    grid-column: 4;
    grid-row: 3/ span 2;
    height: 100%;
    > img {
      height: 100%;
      object-fit: cover;
    }
    .template__add {
      padding-top: 70%;
    }
  }
  &__pro {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 2;
  }

}
.carousel-inner .ratio  {
background: #000000ba !important;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(99, 203, 252, 0.3);
}
.lasty {
  .see__more {
    a {
      background-color: $purple;
      padding: 0.8rem 4.5rem;
      border-radius: 0.6rem;
      font-size: $font__16;
      font-family: Inter_Medium;
    }
  }
}


// NEXT PAGE 
.layout__ , header {
  
  .nav-pills {
    width: 22rem;
    // margin-left: 1.5%;
    background: white;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0rem 1rem;
    // border: 1.5rem solid #eeeeee;
    border-radius: 0.5rem;
    .nav-link {
      color: $soft__black;
      font-family: Inter_Medium;
      text-align: start;
      background: transparent !important;
      font-size: $font__14;
      margin-bottom: 2px;
      > img {
        width: 3.7rem;
        margin-right: 4px;
      }
      .drop {
        background-color: transparent;
        a {
          font-size: $font__14;
          position: relative;
          padding-left: 4rem;
          color: $purple;
          &::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 2.8rem;
            height: 2.8rem;
            background-color: $purple;
            border-radius: 50%;
            background-image: url(../images/dropdown_white.png);
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
          }
        }
      }
    }
  }
  .likes {
    img {
      width: 2.5rem;
    }
  }
}

// FIVE PAGE 
.frame__page {
  padding: 2rem 4rem;
}
.frame__video {
  width: 80rem;
  height: 40rem;
  background-color: #3c80db;
  background-image: linear-gradient(160deg, #3c80db 50%, #6751e4 88%);
  border-radius: 1.2rem !important;
  .frames {
    height: 100%;
    .item {
      background: transparent;
      iframe {
        width: 80rem;
        height: 40rem;
        border-radius: 1.2rem !important;
      }
    }
  }
  .slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 120%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
  }
  .slide-arrow {
    top: 110%;
    position: absolute;
    border: none;
    padding: 0.6rem 3rem;
    border-radius: 5px;
    font-size: $font__16;
    font-family: Cairo_SemiBold;
    background-color: #989898;
    background-image: linear-gradient(180deg, #989898 9%, #757575 54%);
    color: white;
  }
  .next-arrow {
    right: 0;
    background-color: #3c80db;
    background-image: linear-gradient(160deg, #3c80db 41%, #6751e4 88%);
    

  }
}
.frame__info {
  margin-top: 12rem;
}
.account__user {
  &_img {
    width: 8rem;
    height: 8rem;
  }
  &_content {
    p {
      font-size: 25px;
      color: $light__gray;
      line-height: 1;
    }
    a {
      font-size: 13px;
      font-family: $montserrat;
      font-weight: 500;
    }
  }
}
.frame__tag {
  span {
    color: $purple;
  }
}


.dropdown-menu {
  padding-bottom: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .dropdown-item {
    font-size: $font__16;
    font-family: Cairo_SemiBold;
    padding: 0.3rem 2rem;
    background-color: white;
    border-radius: 3px;
    color: $light__gray;
    transition: 0.3s all;
    width: 100%;
    &:hover {
      transition: 0.3s all;
    }
  }
}
.dropdown__btn__soft {
  border-radius: 5px !important;
  border: none !important;
}
.dropdown__arrows {
  width: 100%;
  .dropdown-divider {
    height: 0.5px;
    background-color: $light__gray;
    width: fit-content;
    padding: 0% 45%;
  }
  .dropdown-item {
    position: relative;
    width: 100%;
    &::before {
      position: absolute;
      top: 0;
      left: 6px;
      content: "»";

    }
  }
  .dropdown-item {
    font-size: $font__16;
    font-family: Cairo_SemiBold;
    padding: 0.3rem 2rem;
    background-color: white;
    border-radius: 3px;
    color: $light__gray;
    transition: 0.3s all;
    &:hover {
      background-color: #a07cfb;
      color: white;
      transition: 0.3s all;
    }
  }
}
.profile__mobo {
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}


// FOUR PAGE 
.blog {
  &__layout {
    padding: 1rem 5rem;
  }
  &__images {
    img {
      border-radius: 1rem;
      width: 100%;
      object-fit: cover;
    }
    &__btns {
      a {
        font-size: 1.6rem;
        color: $light__gray;
        img {
          width: 3rem;
        }
        margin: 2rem 3rem;
        text-decoration: none;
      }
      div {
        height: 3rem;
        width: 1px;
        background-color: #6f737c9b;
      }
    }
  }
  &__content {
    h1 {
      font-size: 3.8rem;
    }
  }
  &__message {
    background: $soft__pink;
    padding: 2.5rem 3rem;
    border-radius: 1rem;
    font-size: $font__16;
  }
}
.edit__canva {
  background-color: #3c80db;
  background-image: linear-gradient(160deg, #3c80db 41%, #6751e4 88%);
  padding: 1rem 3rem;
  color: white !important;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  font-family: Cairo_SemiBold;
}
.premium__bg {
  background: black !important;
}
.legenda {
  padding: 6rem 0rem;
  .accordion {
    &-item {
      border: none;
      border: none;
      outline: none;
      box-shadow: none;
      margin-bottom: 6rem;
    }
    &-header {
      border: none !important;
      outline: none;
      box-shadow: none;
    }
    &-button {
      font-size: 2.2rem;
      background-color: white;
      color: #7b2feb;
      &::after {
        margin-left: 2rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-color: $purple;
        padding: 1.3rem;
        background-position: center;
        border-radius: 50%;

      }
      svg {
        width: 20px;
      }
    }
    &-body {
      border: 0.3mm solid $purple;
      border-radius: 1rem;
      padding: 5rem;
      box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 15px 0px;
      font-size: 1.8rem;
      font-family: Cairo_SemiBold;
    }
    &-tags {
      font-size: 1.8rem;
      color: #7b2feb;
    }
    &-copy a {
      background: $soft__green;
      padding: 1rem 4.5rem;
      border-radius: 0.6rem;
      font-size: 1.8rem;
      color: $soft__black;
      font-family: Cairo_SemiBold;
    }
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

}

.blog__page {
  .template__card .template__add {
    padding: 35% 1em 1rem 1rem;
  }

  .template__layout {
    grid-template-columns: repeat(5, 19.4%);
  }
}

// NEXT THREE PAGE 
.feed {
  &__layout {
    padding: 3rem 0rem;
  }
  &__card {
    width: 14.5vw;
    min-width: 26rem;
    height: auto;
    margin-right: 2rem;
    border-radius: 0.3rem;
    margin-bottom: 4rem;
    // box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 4px 0px,
    // rgba(99, 99, 99, 0.1) -1px -2px 4px 0px;
  }

  &__banner {
    height: 12rem;
    overflow: hidden;
  }
  &__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: -3.5rem;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  &__icons {
    li {
      width: 3.4rem;
      margin: 0;
    }
  }

}
@include media__max(1775){
  .feed__card {
    min-width: 23rem !important;
    width: 23rem !important;
  }
  .feed__banner {
    height: 10rem;
  }
  .feed__img {
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
  }
}

.post__short {
  border-bottom: 1px solid #6f737c2e;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  &_img {
    width: 8rem;
    height: 8rem;
    img{
      border-radius: 0.8rem;
    }
  }
  &_content {
    .link_icon {
      width: 1.3rem;
    }
  }
}


.blog__content_fix {
  width: 30vw;
}
.blog__images_fix {
  width: 30vw;
}

.profile__list {
  .dropdown-item {
    background: white !important;
    font-family: Inter_Medium !important;
    text-align: start;
    font-size: 1.4rem;
    margin-bottom: 2px;
  }
  .dropdown-divider {
    background-color: rgba(196, 196, 196, 0.78);
  }
}
.profile__mobo_username {
  padding-left: 1rem !important;
  &::after {
    left: 95% !important;
    background: transparent !important;
    background-image: url(../images/down-arrow-purple.png) !important;
    background-size: 60% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-left: 0 !important;
  }
}

// ALL MEDIA 
@include media__max(1600){
  .template__card .template__add {
    padding: 35% 1rem 1rem 1rem;
  }
  .font__lg {
    font-size: 5rem;
  }
}
@include media__max(1500){
  .template__card .template__add_zoom {
    width: 2rem;
  }
  .template__card .template__add_more {
    padding: 0.4rem 1.1rem;
    font-size: 0.8vw;
  }
  .template__card .template__add_info {
    font-size: 0.8vw;
    margin-top: 4px;
  }

}
@include media__max(1450){
  .template__card .template__add_more {
    font-size: 12px;
  }
  .template__card .template__add_info {
    font-size: 12px;
  }
  .template__pro {
    width: 2.5rem;
  }
}
@include media__max(1400){
  .font__lg {
    font-size: 3.6vw;
  }
  .blog__images__btns a {
    margin: 2rem 2rem;
    font-size: 1.5rem;
  }
  // .blog__content_fix {
  //   width: 38rem;
  // }
  .template__layout {
    grid-template-columns: repeat(5, auto);
  }
}
@include media__max(1200){
  header {
    .search__header {
      .form-control {
        width: 30vw !important;
      }
    }
  }
  .template__layout {
    grid-template-columns: repeat(5, 19.38%);
  }
  .layout__ {
    .font__40 {
      font-size: 3.2rem;
    }
    .likes  a {
      font-size: 1.5rem;
    }
  }
  .frame__video,
  .frame__video .frames .item iframe{
    width: 60rem;
    height: 30rem;
  }
  .blog__content h1 {
    font-size: 3.2rem;
  }
  .blog__page .template__layout {
    grid-template-columns: repeat(4,auto);
  }
}
@include media__max(1080){
  .blog__content_fix {
    width: auto;
  }
  // .blog__content  {
  //   margin-left: 0px !important;
  // }
  .blog__layout {
    padding: 1rem 2rem;
  }
  .blog__images__btns a {
    margin: 2rem 1.2rem;
    font-size: 1.5rem;
  }
  .template__layout {
    grid-template-columns: repeat(4, auto);
  }
}
@include media__max(991){
  .video-play-button::after {
    width: 50px;
    height: 50px
  }
  .video-play-button span {
    background-size: 50%;
  }
  .video-play-button::before {
    width: 60px;
    height: 60px;
  }
  .video-play-button span::after {
    left: -110%;
    top: -60%;
    width: 300% !important;
    height: 215% !important;
  }
  .video-play-button span::before { 
    left: -170%;
    top: -100%;
    width: 415% !important;
    height: 300% !important;
  }
  // .template__layout {
  //   // grid-template-columns: repeat(2 , auto);
  //   // grid-template-columns: (1, 200px);
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }
  .big_03 {
    display: flex;
    height: auto !important;
  }
  .big_02 {
    height: auto !important;
    display: none;
  }
  .wrp_drop  {
    background-color: transparent;
  }
  .layout__ {
    .feed_info {
      font-size: 14px;
      span {
        margin-right: 2px;
      }
    }
  }
  .blog__images_fix {
    width: 100%;
  }
  .template__layout {
    grid-template-columns: repeat(4, auto);
  }

}
@include media__max(767){
  .hero {
    height: auto;
    br {
      display: none;
    }
  }
  .hero__video {
    width: 40rem;
    height: 24rem;
    margin: auto;
    margin-bottom: 10vw;
    margin-top: 5vw;
  }
  .hero__tittle {
    text-align: center;
  }
  .template__layout {
    // grid-template-columns: 33% 33% 33%;
    // grid-template-rows: repeat(30 , auto);
  }
  .layout__ {
    .font__40 {
      font-size: 2.8rem;
    }
    .menu__drop {
      margin: 1rem auto;
      justify-content: center !important;
    }
  }
  .frame__video, .frame__video .frames .item iframe {
    width: 85vw;
    height: 42vw;
  }
  .blog__page  {
    padding-left: 20px;
    padding-right: 20px;
    .blog__layout {
      padding: 0;
    }
    .feed__layout  {
      justify-content: center;
    }
  }
  .post__short_img {
    margin-bottom: 1.5rem;
  }
  .legenda .accordion-body {
    padding: 2.5rem;
    font-size: 1.6rem;
  }
  .template__layout {
    grid-template-columns: repeat(3, auto);
  }
  .blog__page .template__layout {
    grid-template-columns: repeat(3,auto);
  }
  .carousel-inner .ratio {
    border-radius: 6px;
  }
}
@include media__max(540){
  header {
    .navbar-brand {
      width: 10rem;
    }
    .navbar  {
      padding: 1.5rem 0rem !important;
    }
  }
  .big_03 {
    display: none;
  }
  .template__card {
    margin-bottom: 10px;
    width: 90%;
  }
  .layout__ {
    .font__40 {
      font-size: 2.2rem;
    }
    .feed_info {
      font-size: 3vw;
      span {
        margin-right: 0px;
      }
    }
    .likes  {
      img {
        width: 2rem;
      }
    }
  }
  .frame__info {
    margin-top: 7rem;
  }
  .post__short_content {
    h6 {
      font-size: 1.8rem;
    }
  }
  .template__layout {
    grid-template-columns: repeat(2, auto);
  }
  .blog__page .template__layout {
    grid-template-columns: repeat(2,auto);
  }
}
@include media__max(500){
  .hero__video {
    width: 75vw;
    height: 45vw;
  }
  .menu__drop {
    .col-md {
      justify-content: center;
    }
  }
  .hero__tittle {
    font-size: 5.3vw;
  }
  .slide-arrow  {
    background: transparent !important;
    img {
      width: 3rem;
    }
  }
  .account__user_content p {
    font-size: 20px;
    a {
      font-size: 11px;
    }
  }
  .account__user_img {
    width: 6rem;
    height: 6rem;
  }
  .legenda .accordion-body {
    padding: 1.8rem;
    font-size: 1.5rem;
  }
  .legenda .accordion-tags {
    font-size: 1.6rem;
  }
  .legenda .accordion-copy {
    margin: 1.5rem 0rem !important;
  }
  .legenda .accordion-item {
    margin-bottom: 2rem;
  }
  .blog__images__btns a {
    margin: 2rem 0.8rem;
  }
  .frame__video, .frame__video .frames .item iframe {
    width: 100%;
    height: 42vw;
  }
  .blog__page .template__layout {
    grid-template-columns: repeat(1,auto);
    // justify-content: center;

  }
  .feed__card {
    width: 100% !important;
    margin-right: 0;
  }
  .feed__banner {
    height: 12.5rem;
  }
  .feed__img {
    width: 8rem;
    height: 8rem;
    margin-top: -4rem;
  }
}
@include media__max(450){
  .template__layout {
    grid-template-columns: repeat(1, auto);
    // justify-content: center;
  }
  .template__card {
    margin-bottom: 10px;
    width: 100%;
  }
  .legenda .accordion-item {
    margin-bottom: 1rem;
  }
}


